In [1]:
import os

import analysis_plotting_helper_functions_c3v3 as helper
import session_processing_helper_c5v2 as processing_helper
import analysis_utils as utils

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

# Merge sessions training for cohort 5 for pre and post meta change

In [2]:
data_dir = '/Users/rebekahzhang/data/behavior_data'
exp = "exp2"
cohort = "cohort_5"
data_folder = os.path.join(data_dir, exp, cohort)
print(data_folder)

/Users/rebekahzhang/data/behavior_data/exp2/cohort_5

In [3]:
sessions_pre = utils.load_data(os.path.join(data_folder, 'sessions_training_pre.csv'))
sessions_post = utils.load_data(os.path.join(data_folder, 'sessions_training_post.csv'))
sessions_training = pd.concat([sessions_pre, sessions_post])

In [4]:
sessions_training = sessions_training.groupby('mouse', group_keys=False).apply(processing_helper.assign_session_numbers)
sessions_training = sessions_training.sort_values('dir')

In [5]:
sessions_training

,mouse,date,time,exp,training,rig,pump_ul_per_turn,avg_tw,dir,group,session,num_blocks,num_trials,rewards,session_time,trainer,record,ending_code
0,RZ034,2024-01-30,09-52-34,2,regular,rig2,0.0680,0.47,2024-01-30_09-52-34_RZ034,s,0,1.0,397.0,210.0,2406.21,NaN,NaN,NaN
1,RZ036,2024-01-30,09-55-23,2,regular,rig3,0.0609,0.39,2024-01-30_09-55-23_RZ036,s,0,1.0,664.0,425.0,3601.08,NaN,NaN,NaN
2,RZ037,2024-01-30,10-36-04,2,regular,rig2,0.0680,1.70,2024-01-30_10-36-04_RZ037,l,0,1.0,252.0,370.0,3602.47,NaN,NaN,NaN
3,RZ038,2024-01-30,10-59-43,2,regular,rig3,0.0609,0.75,2024-01-30_10-59-43_RZ038,l,0,1.0,239.0,170.0,3607.86,NaN,NaN,NaN
4,RZ039,2024-01-30,11-40-20,2,regular,rig2,0.0680,1.18,2024-01-30_11-40-20_RZ039,l,0,1.0,245.0,275.0,3610.04,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,RZ038,2024-07-18,15-07-36,2,regular,rig1,NaN,6.60,2024-07-18_15-07-36_RZ038,l,94,1.0,202.0,625.0,3470.67,Rebekah,True,miss
198,RZ039,2024-07-18,17-22-52,2,regular,rig1,NaN,3.01,2024-07-18_17-22-52_RZ039,l,93,1.0,402.0,900.0,4802.43,Rebekah,True,reward
199,RZ037,2024-07-19,11-50-39,2,regular,rig1,NaN,8.24,2024-07-19_11-50-39_RZ037,l,96,1.0,102.0,340.0,1807.97,Rebekah,True,pygame
200,RZ038,2024-07-19,12-38-14,2,regular,rig1,NaN,9.30,2024-07-19_12-38-14_RZ038,l,95,1.0,177.0,505.0,3843.33,Rebekah,True,miss
201,RZ039,2024-07-19,14-36-21,2,regular,rig1,NaN,4.61,2024-07-19_14-36-21_RZ039,l,94,1.0,233.0,630.0,3333.39,Rebekah,True,miss

In [6]:
utils.save_log(sessions_training, data_folder, "sessions_training.csv")

# Merge different cohorts logs together

In [7]:
sessions_c5 = pd.read_csv(os.path.join(data_dir, exp, 'cohort_5', 'sessions_training.csv'))
sessions_c5['cohort'] = 'cohort_5'
sessions_c6 = pd.read_csv(os.path.join(data_dir, exp, 'cohort_6', 'sessions_training.csv'))
sessions_c6['cohort'] = 'cohort_6'
sessions_c7 = pd.read_csv(os.path.join(data_dir, exp, 'cohort_7', 'sessions_training.csv'))
sessions_c7['cohort'] = 'cohort_7'

In [8]:
sessions_c567 = pd.concat([sessions_c5, sessions_c6, sessions_c7])
sessions_c567 = sessions_c567.drop(columns = ['Unnamed: 0'])
sessions_c567 = sessions_c567.groupby('mouse', group_keys=False).apply(processing_helper.assign_session_numbers)
sessions_c567 = sessions_c567.sort_values('dir')

In [9]:
utils.save_as_csv(df=sessions_c567, folder=data_folder, filename='sessions_training.csv')